<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/icons.css">
    <link rel="stylesheet" href="../styles/layout.css">
    <link rel="stylesheet" href="../styles/modules.css">
</head>
<body>
    <main id="formPage">
        <header>Search by Title or Author</header>
        <form action="/searches" method="post">
            <input type="text"  name="catagory" placeholder="Enter a title or author" required>
            <fieldset>
              <label >
                <span>Title</span>
                <input type="radio" name="search" value="title" required>
              </label>
            </fieldset>
            <fieldset>
              <label >
                <span>Author</span>
                <input type="radio" name="search" value="author" required>
              </label>
            </fieldset>
            <button id="search" type="submit">Search the Google Books API</button>
          </form>
    </main>
</body>

</html>