main {
    margin-bottom: 5em;
  }
  
  main h1 {
    margin-top: 25px;
  }
  
  main  input[type="text"] {
    width: 80%;
    display: block;
    margin: 25px auto 0;
  }
  
  header a{
    text-decoration: none;
    font-size: larger;
    color: blanchedalmond;
  }

  main label {
    width: 80%;
    display: block;
    margin: 25px auto 0;
  }
  
  main button {
    width: 80%;
    display: block;
    margin: 25px auto;
    float: none;
  }
  
  div a{
    height: 30px;
    width: 70px;
    background-color: black;
    color: blanchedalmond;
    text-decoration: none;
    font-size: larger;
    border: 1px solid blanchedalmond;
    padding: 10px;
  }

  main label {
    display: block;
  }
  
  main input[type="radio"] {
   margin: 0;
  }
  
  main > p {
    text-align: center;
    margin-top: .5em;
  }
  
  ul {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    list-style: none;
  }
  
  li {
    margin: 2.5em 0;
  }
  
 